doctype html
html
    head
        title Test Website
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' type='text/css' href='assets/libs/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' type='text/css' href='css/main.css')
    body
                          
        .container
            .row
                .span12
                    h1 Test Website

            .row
                .span12.hero-unit
                
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')        
        script(src='assets/libs/bootstrap/js/bootstrap.min.js')
         script(src='client/main.js')
